<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AUDIT-MANAGER</title>
</head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
    crossorigin="anonymous"></script>

<body>
    <form action="/dataEnter" method="post">
        {% csrf_token %}
        <!-- <label for="code">Location :</label>
        <select class="form-select" id="numberSelect" aria-label="Default select example" name="code">
            <option selected disabled>Open this select menu</option>
            {% for num in loc %}
            <option value="{{ num}} {% if code == selected_code %}selected{% endif %}">{{ num }}</option>
            {% endfor %}

        </select> -->
        <label for="lno">Add Location no:</label>
        <input type="text" name="lno" value="">
        <button type="submit" class="btn btn-primary mb-3">Set-Location</button>
    </form>


    <table class="table table-bordered table-hover" id="myTable">
        <thead class="table-dark">
            <tr>

                <th>Location</th>
                <th>Item Code</th>

            </tr>
        </thead>
        <tbody>
            <form action="/dataEnter" method="post">
                {% csrf_token %}

                <tr>
                     <td>
                        <div name="no">{{ selected_code }}</div>
                        <div>{{ln}}</div>
                    </td>
                    <td>
                        <!-- {{selected_product.loc_vise}} -->
                        <label for="loca">Location :</label>
                        <input type="number" name="loca" id="loca" value="{{ selected_code }} " readonly>
                    </td>
                    <td>
                        {% csrf_token %}
                        <label for="addl">addl :</label>
                        <input type="text" name="addl" id="addl" placeholder="Add a Item-List" value="" autofocus>
                        <button style="display: none;">Submit</button>

                    </td>
                   

                </tr>
            </form>
        </tbody>
    </table>
    <br>



  
</body>

</html>