<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data-Details</title>
</head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
    crossorigin="anonymous"></script>

<body style="padding-top: 200px;">
    <div class="fixed-top navbar-light bg-light container">


        <h2 class="mb-4">Imported Data Table</h2>
        <table class="table table-bordered table-hover">
            <thead class="table-dark">
                <tr>
                    <th>Location</th>
                    <th>Item Code</th>
                    <th>Item Name</th>
                    <th>Show Detials</th>

                </tr>
            </thead>
            <tbody>
                <form method="post" action="/media">
                    {% csrf_token %}
                    <tr>
                        <td>
                            <div class="mb-3">
                                <input type="text" class="form-control" id="location" name="location">
                            </div>
                        </td>
                        <td>
                            <div class="mb-3">
                                <input type="text" class="form-control" id="item_code" name="item_code">
                            </div>
                        </td>
                        <td>
                            <div class="mb-3">
                                <input type="text" class="form-control" id="item_name" name="item_name">
                            </div>
                        </td>
                        <td>
                            <div class="mb-10">
                                <button type="submit" class="btn btn-primary">Show</button>
                            </div>
                        </td>
                    </tr>
                </form>
            </tbody>
        </table>

    </div>
    <!-- 
    <div class="container">
        <h2 class="mb-4">Imported Data Table</h2>

        <table class="table table-bordered table-hover">
            <thead class="table-dark">
                <tr>
                    <th id="location">Location</th>
                    <th id="addl">Addl</th>
                    <th id="item_code">Item Code</th>
                    <th id="item_name">Item Name</th>
                    <th id="size">Size</th>
                    <th id="Qty">Qty</th>
                </tr>
            </thead>
            <tbody>
                {% for row in data %}
                <tr>
                    <td>{{ row.location }}</td>
                    <td>{{ row.addl }}</td>
                    <td>{{ row.itemcode }}</td>
                    <td>{{ row.itemname }}</td>
                    <td>{{ row.size }}</td>
                    <td>{{ row.qty }}</td>
                </tr>
                {% endfor %}
            
                    {% for row in location %}
                <tr>
                    <td>{{ row.location }}</td>
                    <td>{{ row.addl }}</td>
                    <td>{{ row.itemcode }}</td>
                    <td>{{ row.itemname }}</td>
                    <td>{{ row.size }}</td>
                    <td>{{ row.qty }}</td>
                </tr>
                {% endfor %}
            
            </tbody>
        </table>

    </div> -->
<div class="container my-1">
        <div class="row g-4">
            {% for item in data %}
            <div class="col-md-4 col-sm-6">
                <div class="card p-3 shadow-sm">
                    <div class="card-body">
                        <h3 class="card-title">Item Code: {{ item.location }}</h3>
                        <h5 class="card-title">Item Code: {{ item.addl }}</h5>
                        <p class="card-text"><strong>Name:</strong> {{ item.itemname }}</p>
                        <p class="card-text"><strong>Size:</strong> {{ item.size }}</p>
                        <p class="card-text"><strong>Qty:</strong> {{ item.qty }}</p>
                    </div>
                </div>
            </div>
            {% empty %}
          
            {% endfor %}

            {% for item in location %}
            <div class="col-md-4 col-sm-6">
                <div class="card p-3 shadow-sm">
                    <div class="card-body">
                        <h3 class="card-title">Item Code: {{ item.location }}</h3>
                        <h5 class="card-title">Item Code: {{ item.addl }}</h5>
                        <p class="card-text"><strong>Name:</strong> {{ item.itemname }}</p>
                        <p class="card-text"><strong>Size:</strong> {{ item.size }}</p>
                        <p class="card-text"><strong>Qty:</strong> {{ item.qty }}</p>
                    </div>
                </div>
            </div>
            {% empty %}
         
            {% endfor %}
        </div>
    </div>

    <!-- <div class="container my-4"> 
         {% for item in data %}
        <div class="row justify-content-center">
            <div class="col-md-4 col-sm-6">
                <div class="card product-card shadow-sm">
                  

                    <img src="https://via.placeholder.com/400x200" class="card-img-top product-img" alt="Product Image">

                    <div class="card-body">
                        <h5 class="card-title">Item Code: {{ item.addl }}</h5>
                        <p class="card-text"><strong>Item Name:</strong>{{ item.itemname }}</p>
                        <p class="card-text"><strong>Size:</strong> {{ item.size }}</p>
                        <p class="card-text"><strong>Qty:</strong> {{ item.qty }}</p>
                        <a href="#" class="btn btn-primary w-100">View Details</a>
                    </div>
                    
                </div>
            </div>
        </div>
        {% endfor %}
    </div> -->

</body>

</html>